[submodule "external/glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/mdspan"]
	path = external/mdspan
	url = https://github.com/kokkos/mdspan.git
